<!--https://books.google.com.ua/books?id=fnteDwAAQBAJ&pg=PA49&lpg=PA49&dq=angular6+how+view+interfaces+in+html&source=bl&ots=AkQq6800i1&sig=gxNgl4FjGLuY6vZmqb-sMFdw3Wg&hl=ru&sa=X&ved=0ahUKEwj23djss5TcAhVM2ywKHRC8CakQ6AEIYzAJ#v=onepage&q=angular6%20how%20view%20interfaces%20in%20html&f=false-->
<!--https://www.youtube.com/watch?v=RTzi5DS7On4    Integrating Chart.js with Angular 5 with Data from an API-->
<!--https://coursetro.com/posts/code/154/Angular-6-Tutorial-&#45;&#45;Learn-Angular-6-in-this-Crash-Course-->


<div id="container">
  <app-sidebar></app-sidebar>

  <div id="content">
    <router-outlet></router-outlet>
  </div>
</div>

<!--<router-outlet></router-outlet>-->
