<div class="weather container">
  <div class="weather" style="text-align:center">
    <h1>
      LocalCast Weather
    </h1>
    <div>Your city? your forecast, right now!</div>
    <h2>Current Weather</h2>

    <div *ngIf="currentWeather">
      <div>
        <div>
          <span>{{currentWeather.city}}, {{currentWeather.country}} </span>
          <span>{{currentWeather.date | date:'fullDate'}}</span>
          <!--<span>{{current.date | date:'shortDate'}}</span>-->
          <!--see https://angular.io/api/common/DatePipe for more about Date format-->
          <!--see https://angular.io/api/common/DecimalPipe for more temperature format-->
        </div>
      </div>
      <div>
        <img [src]='currentWeather.image'>
        <span>{{currentWeather.temperature | number:'1.0-0'}}*C</span>
      </div>
      <div>
        {{currentWeather.description}}
      </div>
    </div>
  </div>

  <!--For figures we need chart.js library (npm install chart.js and see current-weather.component.ts)-->
  <div *ngIf="chart" class="chart">
    <canvas id="canvas">{{ chart }}</canvas>
  </div>

</div>
